.animalShow{
    border: 4px solid gray;
    border-radius: 16px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
}
.animalList{
    height: 100px ;
    width: 100px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}